WATSONX_DATA_HOST="<YOUR WATSONX DATA HOSTNAME"
WATSONX_DATA_PORT=<YOUR WATSONX DATA PORT>
WATSONX_DATA_USERNAME=<YOUR WATSONX DATA USERNAME> (for SaaS, it is ibmlhapikey)
IBM_CLOUD_API_KEY=<YOUR IBM CLOUD API KEY> (for watsonx.data SaaS, this is your password to connect to watsonx.data)
WATSONX_DATA_CATALOG=<YOUR WATSONX DATA CATALOG> (for example, watsonxiceberg)
WATSONX_DATA_SCHEMA=<YOUR WATSONX DATA SCHEMA> (for example, churn)
WATSONX_AI_URL=<YOUR WATSONX AI URL> (for example, in us south, it is "https://us-south.ml.cloud.ibm.com")
WATSONX_AI_SPACE_ID=<YOUR WATSONX AI SPACE ID> (unique identifier for your deployment space where your prompt template is deployed)
WATSONX_AI_DEPLOYMENT_ID=<YOUR WATSONX AI DEPLOYMENT ID> (unique identifier for your prompt template deployment)
